<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Arabic dialect classification</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Slot Coming Soon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="static\css\style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="static\css\font-awesome.min.css" type="text/css" media="all">

</head>

<body>
    <form action="http://127.0.0.1:5000/uploader" method="POST" enctype="multipart/form-data" >
        <div id="block" class="w3lvide-content" data-vide-bg="static\images\slot.mp4" data-vide-options="position: 0% 50%">
            <h1 style="margin:auto; color: #006d7a; margin-bottom: 25px; margin-top:10px; font-size: 50px;">Arabic Dialect Classification</h1>
            <div class="wrapper">
                <div class="workinghny-form-grid">
                    <!-- /form -->
                    <div id="delayed">
                        <div class="main-container">
                            <div class="content-wthree">
                                <h2 style="color:#fff;">Enter your sentence</h2>
                            
                                <div>
                                    <textarea style='color:black; width:100%; resize: none;' rows="3" name="entered"></textarea>
                                </div>
                                <button type="submit" style="background-color: #006d7a;">Submit & predict</button>
                                <div class="social-login">
                                    <a href="https://www.facebook.com/sam.goda.71/">
                                        <span class="fa fa-facebook icon" aria-hidden="true"></span>
                                    </a>
                                    <a href="#twiter">
                                        <span class="fa fa-twitter icon" aria-hidden="true"></span>
                                    </a>
                                    <a href="#google">
                                        <span class="fa fa-google-plus icon" aria-hidden="true"></span>
                                    </a>
                                    <a href="#insta">
                                        <span class="fa fa-pinterest icon" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <pre style="color:#006d7a; font-size: 20px; display: inline; vertical-align:sub">ML </pre>
                                <label class="switch" style="display: inline-block" >
                                    <input type="checkbox" name="switch">
                                    <span class="slider round"></span>
                                </label>
                                <pre style="color:#006d7a; font-size: 20px; display: inline; vertical-align:sub"> DL </pre>
                            </div>
                              
                        </div>
                        <!-- copyright -->
                        <div class="copyright text-center">
                            <p class="copy-footer-29">© 2023. All rights reserved <a href="https://www.facebook.com/sam.goda.71/">Mahmoud
                                Gooda</a></p>
                        </div>
                        <!-- //copyright -->
                    </div>
                    <!-- //form -->
                </div>
            </div>
        </div>
    </form>
    
    <!-- //form section start -->
    <!-- js -->
    <script src="static\js\jquery.min.js"></script>
    <!-- //js -->
    <script src="static\js\jquery.vide.js"></script>
</body>

</html>